/* reset margin;padding; */
body {
  margin: 0 !important;
  margin: 0 !important;
}
.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}
.banner {
  height: 1050px;
  background: url("./banner.jpg") center center no-repeat;
  padding: 20px;
}
.abount-sign-in {
  height: 80px;
  width: 100%;
  display: block;
  text-align: right;
}

.abount,
.sign-in {
  text-decoration: none;
  text-align: right˜;
}
˜